<h1>Surveys</h1>

<p>Add a survey:</p>

<form action="/surveys" method="post">
  <label for="name">Survey Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add survey</button>
</form>

<h2>Surveys</h2>

<ul>
  <% @surveys.each do |survey| %>
  <li><a href="/surveys/<%= survey.id() %>"><%= survey.name() %></a></li>
  <% end %>
</ul>
